<div class="sidenav">
  <button type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-th"></span> My Wallett</button>
  <button type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-upload"></span> Send</button>
  <button type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-download"></span> Receive</button>
  <button type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-briefcase"></span> Smart Contract</button>
  <button type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-list-alt"></span> Transactions</button>
</div>
