<div class="sidenav">
  <h2>Qtum-Wallet Pi UI</h2>
  <a href="/" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-th"></span> My Wallet</a>
  <a href="/send" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-upload"></span> Send</a>
  <a href="/receive" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-download"></span> Receive</a>
  <a href="/contract" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-briefcase"></span> Smart Contract</a>
  <a href="/transaction" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-list-alt"></span> Transactions</a>
  <div class="panel panel-primary">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
      Current Block: {{ info_output.blocks }} <br />
      Staking: {{ stake_output.staking }} <br />
      Network Weight: {{ stake_output.weight }} <br />
      Time Since Last Stake: 20 Days <br />
      Approx Time to Stake: {{ stake_time }} Days
    </div>
  </div>
</div>
