body {
  background-color: #393e44;
  /*background-color: #35495e;*/
  color: #959396;
  }

.sidenav {
  margin-top: 50px;
  margin-left: 50px;
  /*height: 80%;*/
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #312e32;
  overflow-x: hidden;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.sidenav h2 {
  color: #059be9;
  text-align: center;
  margin: 8px;
}

.panel {
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: oblique;
}

.panel-heading {
  text-align: center;
  font-size: 22px;
  font-style: normal;
}
.main {
  margin-top: 50px;
  margin-left: 320px; /* Same as the width of the sidenav */
}
.transactions {
  margin-top: 18px;
  background-color: #312e32;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.transactions h3 {
  color: #059be9;
}

.wallet {
  background-color: #312e32;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.wallet-right {
  background-color: #312e32;
  padding: 24px;
  /*font-size: 18px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.wallet h3 {
  color: #059be9;
}

.send_page {
  background-color: #312e32;
  padding-bottom: 16px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.send_page h3 {
  color: white;
}

#send-form, #send-wallet, #send-amount, #send-passwd, #send-label, #send-description {
  padding: 8px;
  font-size: 13px;
  color: #059ae9;
  font-weight: 300;

}

.q-total {
  padding-bottom: 15px;
  text-align: right;
  font-size: 20px;
  color: #059be9;
}

.q-total span {
  font-size: 20px;
  color: #959396;
}

.send-total span {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #059be9;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #3b383c;
   border-bottom:0px !important;
}

.table th, .table td {
    border: 1px !important;
    overflow-y: auto;
}

.red {
  padding-top: 8px;
  color: #e10a04;
  font-size: 20px;
}

.green {
  padding-top: 8px;
  color: #00B502;
  font-size: 20px
}

.blue {
  padding-top: 8px;
  color: #3379b7;
  font-size: 20px
}
