body {
    background-color: #393e44;
  /*background-color: #35495e;*/
  /*color: #959396;*/
  color: #fafdffab;
  }

.sidenav {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #312e32;
  overflow-x: hidden;
  padding: 10px;
  padding-bottom: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.container-fluid {
  margin-left: 50px;
  padding-right: 50px;
}
.sidenav h2 {
  color: #059be9;
  text-align: center;
  margin: 8px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 240px;
    margin-left: 60px;
  }
  .main {
    margin-top: 50px;
    margin-left: 30px;
  }
}

.main {
  margin-top: 50px;
  margin-left: 320px;
}
.transactions {
  background-color: #312e32;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 40px;
}

.transactions-index, .transactions-send {
  margin-top: 18px;
  background-color: #312e32;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.transactions h3, .transactions-index h3, .transactions-send h3, .receive-page h3, .setup-page h3 {
  color: #059be9;
}

.index-page {
  background-color: #312e32;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.receive-page {
  background-color: #312e32;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.setup-page {
  background-color: #312e32;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 100%;
}

.wallet h3, .wallet-right h3 {
  color: #059be9;
}

.send_page {
  background-color: #312e32;
  padding-bottom: 70px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}


#send-form, #send-wallet, #send-amount, #send-passwd, #send-to_label, #send-description {
  padding: 5px;
  font-weight: 350;
}

#receive-form, #receive-wallet, #receive-amount, #receive-passwd, #receive-to_label, #receive-description {
  padding: 5px;
  font-weight: 350;
}

.q-total {
  padding-bottom: 15px;
  text-align: right;
  font-size: 24px;
  color: #059be9;
}

.q-total span {
  font-size: 24px;
  color: #959396;
}

.send-total span {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #059be9;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #3b383c;
   border-bottom:0px !important;

}

.table th, .table td, td.text {
  max-width: 177px;
    border: 1px !important;
    overflow-y: auto;
    table-layout: fixed;
    word-wrap: break-word;
}


.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

a.text span {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   max-width: 100%;
}

.red {
  padding-top: 8px;
  color: #e10a04;
  font-size: 20px;
}

.red-sm {
  color: #e10a04;
  font-size: 16px;
}

.green {
  padding-top: 8px;
  color: #00B502;
  font-size: 20px
}

.green-sm {
  color: #00B502;
  font-size: 16px
}

.blue {
  padding-top: 8px;
  color: #3379b7;
  font-size: 20px
}

.dropdown-header {
  font-size: 18px;
  color: #059be9;
}

#table-unspent {
    border: 1px !important;
    white-space: nowrap;
    max-width: 100%;
    font-size: 14px;
}

.red-unspent {
  color: #e10a04;
  font-size: 18px;
}

.green-unspent {
  color: #00B502;
  font-size: 18px
}

#table_padding {
  padding: 16px;
  font-size: 14px
}

#new-address {
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  color: #c7c7c7;
}

#disable-staking {
  padding-top: 20px;
  font-size: 17px;
  /*text-align: center;*/
  padding-bottom: 20px;
}

#psswd-change {
  font-size: 17px;
  /*text-align: center;*/
  padding-bottom: 20px;
}

#backup-wallet {
  font-size: 17px;
  /*text-align: center;*/
  padding-bottom: 20px;
}

#new-receive-address {
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  color: #2aff2a;
}

.qrcode-img {
  padding-top: 20px;
}

.qrcode-donate-img {
  padding-left: 200px;
  padding-bottom: 40px;
}

#donate-address {
  font-size: 8px;
}

#donate-label {
  font-size: 13px;
}

.receive-form {
  padding-top: 12px;
  padding-bottom: 20px;
  /*padding-left: 20px;*/
}

.encrypt-form {
  padding-top: 12px;
  padding-bottom: 20px;
  /*padding-left: 20px;*/
}

.receive-dropdown {
    padding-top: 20px;
    /*margin-right: 10px;*/
}
.send-dropdown {
    padding-top: 8px;
}


.alert {
  margin-bottom: 8px;
  height: 34px;
  width: 80%;
  line-height:30px;
  padding:0px 15px;
}
