body {
  background-color: #201e21;
  color: #959396;
  }

.sidenav {
  margin-top: 40px;
  height: 80%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #312e32;
  overflow-x: hidden;
  padding: 10px;
}

.sidenav h1 {
  color: #059be9;
  text-align: center;
  margin: 8px;
}

.panel {
  margin-top: 40px;
}
.main {
  margin-top: 40px;
  margin-left: 290px; /* Same as the width of the sidenav */
}
.transactions {
  margin-top: 20px;
  background-color: #312e32;
}

.transactions h3 {
  color: white;
}

.wallet {
  background-color: #312e32;
  padding-bottom: 32px;
  font-size: 18px;
}

.wallet h3 {
  color: white;
}


.q-total {
  text-align: right;
  font-size: 30px;
  color: #059be9;
  background-color: #312e32
}

.q-total span {
  font-size: 20px;
  padding-top: 10px;
  color: #959396;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #3b383c;
   border-bottom:0px !important;
}

.table th, .table td {
    border: 1px !important;
    height: 40px;
    overflow-y: auto;
}
