{% extends 'layout.html' %}
{% block content %}
  <div class="main">
    <div class="index-page col-xs-12">
      <div class="wallet col-xs-12 col-md-6 col-lg-6">
        <h3>Balance</h3> <br />
        <strong data-toggle="tooltip" title="Qtum availabe to spend.">Available:</strong> <span class="pull-right">{{ '%0.4f' | format(qtum_wallet.balance) }}</span> <br />
        <strong data-toggle="tooltip" title="Unconfirmed Qtum">Pending:</strong> <span class="pull-right">{{ '%0.4f' | format(qtum_wallet.unconfirmed_balance) }}</span> <br />
        <strong data-toggle="tooltip" title="Staking Rewards available after 500 Blocks">Immature:</strong> <span class="pull-right">{{ '%0.4f' | format(qtum_wallet.immature_balance) }}</span> <br />
        <strong data-toggle="tooltip" title="Coins Locked from Staking a Block">Staked:</strong><span class="pull-right">{{ '%0.4f' | format(qtum_wallet.stake) }}</span> <br />
        <div class="q-total"><hr /> <span data-toggle="tooltip" title="Combined total Qtum, including pending and staked" class="pull-left">Total</span> {{ '%0.4f' | format(qtum_wallet.balance + qtum_wallet.unconfirmed_balance + qtum_wallet.immature_balance + qtum_wallet.stake) }} QTUM</div>
      </div>
      <div class="wallet-right col-xs-12 col-md-6">
        <h3>Wallet Information</h3> <br />
        <strong>Wallet Version:</strong> <span class="pull-right">{{ wallet_version[29:37] }}</span> <br />
        {% if stake_output.staking == false %}
          <strong>Staking:</strong> <span class="pull-right red-sm">{{ stake_output.staking }}</span> <br />
        {% else %}
          <strong>Staking:</strong> <span class="pull-right green-sm">{{ stake_output.staking }}</span> <br />
        {% endif %}
        {% if get_current_block.unlocked_until == null %}
          <strong>Wallet Status:</strong> <span class="pull-right">Not Encrypted</span> <br />
        {% elif get_current_block.unlocked_until > 0 %}
          <strong>Wallet Status:</strong> <span class="pull-right">Unlocked For Staking</span> <br />
        {% else %}
          <strong>Wallet Status:</strong> <span class="pull-right">Locked</span> <br />
        {% endif %}
        <strong>Wallet Weight:</strong> <span class="pull-right">{{'%0.8f'| format(stake_output.weight|float / 100000000)}}</span> <br />
        <strong>Net Weight:</strong> <span class="pull-right">{{'%0.2f'| format(stake_output.netstakeweight|float / 100000000000000)}} M</span> <br />
        <strong>Approx TTS:</strong> <span class="pull-right">{{ stake_time }} Days</span> <br />
        <strong>Connections:</strong> <span class="pull-right">{{ get_current_block.connections }} Nodes</span> <br />
      </div>
    </div>
    <div class="transactions-index table-responsive col-xs-12">
        <h3>Network Information</h3>
          <strong>Total Sent:</strong> {{ qtum_network.totalbytessent }}  <br />
          <strong>Total Received:</strong> {{ qtum_network.totalbytesrecv }} <br />
          <strong>Current Block:</strong> {{ get_current_block.blocks }} <br />
          <strong>TX in current block:</strong> {{ qtum_mempool.size }}
    </div>
  </div>
{% endblock %}
