{% extends 'layout.html' %}

{% block body %}
  <div class="main">
    <div class="wallet col-md-6 col-sm-6">
      <h3>Balance</h3> <br />
        <strong>Available:</strong> <span class="pull-right">{{ info_output.balance }}</span> <br />
        <strong data-toggle="tooltip" title="Unconfirmed Coins">Pending:</strong> <span class="pull-right">{{ info_output.unconfirmed_balance }}</span> <br />
        <strong ata-toggle="tooltip" title="Staking Rewards available after 500 Blocks">Immature:</strong> <span class="pull-right">{{ info_output.immature_balance }}</span> <br />
        <strong ata-toggle="tooltip" title="Coins Locked from Staking a Block">Staked:</strong><span class="pull-right">{{ info_output.stake }}</span> <br />
        <div class="q-total"><hr /> <span class="pull-left">Total</span> {{ info_output.balance }} QTUM</div>
      </div>
    <div class="wallet-right col-md-6 col-sm-6">
      <h3>Information</h3> <br />
      <strong>Wallet Version:</strong> <span class="pull-right">{{ get_block.version }}</span> <br />
      <strong>Current Block:</strong> <span class="pull-right">{{ get_block.blocks }}</span> <br />
      {% if stake_output.staking == false %}
        <strong>Staking:</strong> <span class="pull-right red-sm">{{ stake_output.staking }}</span> <br />
      {% else %}
        <strong>Staking:</strong> <span class="pull-right green-sm">{{ stake_output.staking }}</span> <br />
      {% endif %}
      <strong>Wallet Weight:</strong> <span class="pull-right">{{ stake_output.weight / 100000000 }}</span> <br />
      <strong>Net Weight:</strong> <span class="pull-right">{{ stake_output.netstakeweight / 100000000 }}</span> <br />
      <strong>Last Stake Reward:</strong> <span class="pull-right">October 12 2017</span> <br />
      <strong>Approx TTS:</strong> <span class="pull-right">{{ stake_time }} Days</span> <br />
    </div>
    <div class="transactions-index col-md-12">
        <h3>Recent Transactions</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center col-sm-3">Date</th>
              <th class="text-center col-sm-1">Type</th>
              <th class="text-center col-sm-3">Wallet Address</th>
              <th class="text-center col-sm-2">Amount</th>
              <th class="text-center col-sm-1">Fee</th>
              <th class="text-center col-sm-2">Confirmations</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in last_tx[-4:] %}

            <tr>
              <td align="left">{{ date.strftime('%B %d %Y', date.localtime(tx.time)) }}</td>
              <td align="center">
                {% if tx.category == "receive" %}
                  <span class="glyphicon glyphicon-download green"></span>
                {% elif tx.category == "send" %}
                  <span class="glyphicon glyphicon-upload red"></span>
                {% else %}
                  <span class="glyphicon glyphicon-refresh blue"></span>
                {% endif %}
              </td>
              <td align="center" class="text"><span>{{ tx.address }}</span></td>
              <td align="center">{{ tx.amount }}</td>
              {% if tx.fee == nil %}
                <td align="center">0.0000</td>
              {% else %}
                <td align="center">{{ tx.fee }}</td>
              {% endif %}
              <td align="center">{{ tx.confirmations }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
