{% extends 'layout.html' %}

{% block body %}
  <div class="main">
    <div class="wallet col-md-12 col-sm-12">
      <h3>Balances</h3> <br />
        <strong>Available Balance:</strong> {{ info_output.balance }} QTUM <br />
        <strong>Pending Balance:</strong> 0.00000000 QTUM
        <div class="q-total"><hr /> <span class="pull-left">Total</span> {{ info_output.balance }} QTUM</div>
      </div>
    <div class="transactions col-md-12">
        <h3>Recent Transactions</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Wallet</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Oct 10th 2017 18:01</td>
              <td>Received</td>
              <td>Qwefkwcjnwcwuefowechwuv</td>
              <td>2.74522338</td>
            </tr>
            <tr>
              <td>Oct 08th 2017 17:43</td>
              <td>Sent</td>
              <td>Qwefkwcjnwcwuefowechwuv</td>
              <td>121.45332</td>
            </tr>
            <tr>
              <td>Oct 07th 2017 20:36</td>
              <td>Received</td>
              <td>Qwefkwcjnwcwuefowechwuv</td>
              <td>120.00</td>
            </tr>
            <tr>
              <td>Oct 05th 2017 11:56</td>
              <td>Sent</td>
              <td>Qwefkwcjnwcwuefowechwuv</td>
              <td>1.00</td>
            </tr>
            <tr>
              <td>Oct 05th 2017 18:26</td>
              <td>Received</td>
              <td>Qwefkwcjnwcwuefowechwuv</td>
              <td>0.91234</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
