{% extends 'bootstrap/base.html' %}
{% block html %}
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block styles %}
    {{super()}}
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <link rel="icon" href="data:;base64,="> <!-- Stops request for favicon.ico -->
    {% endblock %}
  {% endblock %}
  {% block body %}
    <div class="container-fluid">
      {% block content %}
      <div class="main-offline">
          <div class="offline-page">
            {% if checks == 'No_Wallet' %}
              <h1>Qtum Wallet not Installed</h1>
              <p>
                Install the latest wallet from the Qtum Team by clicking the button below <br />
                <hr>
                <a href="{{ url_for('start_wallet') }}" class="btn btn-primary">Install Qtum Wallet</a>
              </p>
            {% elif checks == 'Not_Running' %}
            <h1>The Qtum Wallet is not Running</h1>
            <p>
              Click the button to start now the wallet. This page will automatically reload.
            <hr>
            <br />
              <a href="{{ url_for('start_wallet') }}" class="btn btn-primary">Start Wallet</a>
            </p>
            {% else %}
            <h1>Qtum Wallet is not Encrypted</h1>
            <h4>  Your wallet must be encrypted to use the Pi Web UI</h4>
            <hr>
            <form class="encrypt-form" method="post" action="{{ url_for('encrypt_wallet') }}">
              {{ form.csrf_token }}
            <div class="input-group" data-toggle="tooltip" title="Disabled if wallet already encrypted.">
              {{ form.passphrase(type="password", class_="form-control", placeholder="Enter Passphrase to Encrypt Your Wallet")}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </div>
            <small>NOTE: The UI will reload after the wallet restarts. ( Approximately 10 secounds )</small>
            {% with messages = get_flashed_messages(category_filter=["error_encrypt"]) %}
              {% if messages %}
                {% for message in messages %}
                <div id="send-alert" class="alert alert-danger">
                  {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </form>
          {% endif %}
          <br />
          <small>Join us on <a href="https://t.me/joinchat/FvYLc1FTsk6qg_wuN9WF8A">Telegram</a></small>
          </div>
      </div>
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}
