{% extends 'layout.html' %}

{% block content %}
<div class="main">
  <div class="send_page col-xs-12">
    <div class="send-total"><span class="pull-left">Send QTUM</span><span class="pull-right">{{ qtum_wallet.balance }} QTUM</span></div>
    <form class="send-form col-xs-12 col-lg-9" method="post" action="{{ url_for('send_qtum') }}">
        {{ form.csrf_token }}
      <div id="send-wallet" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-share-alt"></i></span>
        {{ form.address(type="text", value=address, class_="form-control", placeholder="Send to Address")}}
      </div>
      <div id="send-amount" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
        {{ form.amount(type="number", step="any", class_="form-control", placeholder="Amount to send")}}
      </div>
      <div id="send-description" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        {{ form.description(type="text", class_="form-control", placeholder="Enter description (optional)")}}
      </div>
      <div id="send-to_label" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-floppy-save"></i></span>
        {{ form.to_label(type="text", class_="form-control", placeholder="Enter Name and save it to the address book (optional)")}}
      </div>
      <div id="send-passwd" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form.passwd(type="password", class_="form-control", placeholder="Wallet Passphrase")}}
      </div>
      <div id="send-form">
        <button type="submit" class="btn btn-primary btn-sm pull-right">Send Qtum</button>
        {% if form.errors %}
          {% for field, errors in form.errors.items() %}
            <div id="send-alert" class="alert alert-danger">
              {{ form[field].label }}: {{ ', '.join(errors) }}
            </div>
          {% endfor %}
        {% endif %}

        {% with messages = get_flashed_messages(category_filter=["msg"]) %}
          {% if messages %}
            {% for message in messages %}
            <div id="send-alert" class="alert alert-success">
              <a href="https://explorer.qtum.org/tx/{{ message }}"  target="_blank" class="text"><span>{{ message }}</span></a>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
            {% for message in messages %}
            <div id="send-alert" class="alert alert-danger">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </form>
    <div class="send-dropdown col-xs-3">
      <button title="Previously saved sent to Names." class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Sent Address Book <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
        {% if last_tx == [] %}
          <li class="dropdown-header">No Sent Address</li>
        {% else %}
          {% for value in last_tx %}
            {% if value.category == null %}
              <li class="dropdown-header">{{ value.to }}</li>
            {% elif value.to != null %}
              <li class="divider"></li>
              <li class="dropdown-header">{{ value.to }}</li>
              <li role="presentation"><a role="menuitem" href="/send/{{ value.address }}">{{ value.address }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="transactions-send table-responsive col-xs-12">
    <h3>Unspent Transactions</h3>
    <table id="table-unspent" class="table table-striped">
      <thead>
        <tr>
          <th class="text-center col-sm-6">Address</th>
          <th class="text-center col-sm-2">Amount</th>
          <th class="text-center col-sm-2">Confirmations</th>
          <th class="text-center col-sm-2">Spendable</th>
        </tr>
      </thead>
      <tbody>
        {% for unspent in get_unspent %}
        <tr>
            <td align="center">{{ unspent.address }}</td>
            <td align="center">{{ unspent.amount }}</td>
            <td align="center">{{ unspent.confirmations }}</td>
          <td align="center">
          {% if unspent.spendable %}
              <span class="glyphicon glyphicon-ok green-unspent"></span>
          {% else %}
              <span class="glyphicon glyphicon-remove red-unspent"></span>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
