{% extends 'layout.html' %}

{% block body %}
<div class="main">
  <div class="send_page col-md-12 col-sm-12">
    <div class="send-total"><span class="pull-left">Send QTUM</span><span class="pull-right">{{ info_output.balance }} QTUM</span></div>
    <form method="post" action="{{ url_for('send') }}">
      {{ form.hidden_tag() }}
      <div id="send-wallet" class="input-group col-md-8">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ form.address(type="text", class_="form-control", placeholder="Send to QTUM Address")}}
      </div>
      <div id="send-amount" class="input-group col-md-8">
        <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
        {{ form.amount(type="number", step="any", class_="form-control", placeholder="Amount to send")}}
      </div>
      <div id="send-label" class="input-group col-md-8">
        <span class="input-group-addon"><i class="glyphicon glyphicon-floppy-save"></i></span>
        {{ form.label(type="text", class_="form-control", placeholder="Enter Label for this address and add it to the address book (optional)")}}
      </div>
      <div id="send-description" class="input-group col-md-8">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        {{ form.description(type="text", class_="form-control", placeholder="Enter description (optional)")}}
      </div>
      <div id="send-passwd" class="input-group col-md-8">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form.passwd(type="password", class_="form-control", placeholder="Wallet Passphrase")}}
      </div>
      <div id="send-form" class="col-md-8">
      <!-- {{ form.feeAmount(type="checkbox", class_="checkbox-inline", placeholder="Wallet Passphrase")}} <label> Subtract Fee From Amount</label> -->
      <label> Support Qtum Pi UI: QfTuPBtK72LoDyTJWuPP7guTdPwgLzXH4r</label>
        <button type="submit" class="btn btn-primary btn-sm pull-right">Send Qtum</button>
      </div>
    </form>
  </div>

  <div class="transactions col-md-12">
      <h3>Recent Sent Transactions</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Wallet</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Oct 10th 2017 18:01</td>
            <td>Received</td>
            <td>Qwefkwcjnwcwuefowechwuv</td>
            <td>2.74522338</td>
          </tr>
          <tr>
            <td>Oct 08th 2017 17:43</td>
            <td>Sent</td>
            <td>Qwefkwcjnwcwuefowechwuv</td>
            <td>121.45332</td>
          </tr>
          <tr>
            <td>Oct 07th 2017 20:36</td>
            <td>Received</td>
            <td>Qwefkwcjnwcwuefowechwuv</td>
            <td>120.00</td>
          </tr>
          <tr>
            <td>Oct 05th 2017 11:56</td>
            <td>Sent</td>
            <td>Qwefkwcjnwcwuefowechwuv</td>
            <td>1.00</td>
          </tr>
          <tr>
            <td>Oct 05th 2017 18:26</td>
            <td>Received</td>
            <td>Qwefkwcjnwcwuefowechwuv</td>
            <td>0.91234</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
{% endblock %}
