{% extends 'layout.html' %}

{% block body %}
<div class="main">
  <div class="setup-page col-sm-12 col-lg-12">
    <h3>Wallet Settings</h3>
    <form class="encrypt-form col-xs-12 col-lg-8" method="post" action="{{ url_for('encrypt_wallet') }}">
      {{ form.hidden_tag() }}
    <div class="input-group" data-toggle="tooltip" title="Disabled if wallet already encrypted.">
      <span class="input-group-addon">Encrypt Wallet</span>
    {% if qtum_wallet.unlocked_until == nill %}
      {{ form.passphrase(type="password", class_="form-control", placeholder="Enter New Passphrase to Encrypt Wallet")}}
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    {% else %}
      <input class="form-control" value="This wallet is already encrypted" type="text" disabled>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
      </div>
    {% endif %}
    </div>
    <small>NOTE: You will be returned to the overview page after the wallet restarts</small>
    {% with messages = get_flashed_messages(category_filter=["error1"]) %}
      {% if messages %}
        {% for message in messages %}
        <div id="send-alert" class="alert alert-danger">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </form>

  <form class="stkaing-form col-xs-12 col-lg-8" method="post" action="{{ url_for('staking_service') }}">
    {{ form.hidden_tag() }}
  <div class="input-group">
    <span class="input-group-addon">Start Staking</span>
    {{ form.passphrase(type="password", class_="form-control", placeholder="Enter Passphrase to Enable Staking")}}
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <br />
  {% if form.errors %}
    {% for field, errors in form.errors.items() %}
      <div id="send-alert" class="alert alert-danger">
        {{ ', '.join(errors) }}
      </div>
    {% endfor %}
  {% endif %}

  {% with messages = get_flashed_messages(category_filter=["msg"]) %}
    {% if messages %}
      {% for message in messages %}
      <div id="send-alert" class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
      <div id="send-alert" class="alert alert-danger">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </form>
    <div id="disable-staking" class="btn-group btn-group-justified">
    <a href="{{ url_for('lock_wallet') }}" class="btn btn-primary">Lock Wallet</a>
    </div>
  </div>
  <div class="transactions-index col-xs-12">
    <h3>Feedback</h3>
    <div class="support-us col-xs-12 col-md-6">
      <p>
        The Qtum Pi UI is an ongoing project, and your feedback and support are appreciated.
        You can get in contact below or donate using the QRCode or donation address. <br />
        <br />
        Donations: <a href="/send/QceE7a47byDhFs9wy2c2ZdXz4yfT4RZLJQ">QceE7a47byDhFs9wy2c2ZdXz4yfT4RZLJQ</a> <br />
        Contact: trevsadev@protonmail.com <br />
        This is an open source project. <br />
        <a href="https://github.com/rpiwalletui/qtum-ui">View source code on Github</a>
      </p>
    </div>
    <div class="qrcode-donate-img col-md-6">
        <img  src="{{ qrcode(donate_piui, box_size=4, border=1, error_correction='L') }}" width="160" height="160" class="img-thumbnail" alt="Cinque Terre">
    </div>
</div>
</div>
{% endblock %}
