{% extends 'layout.html' %}
{% block content %}
  <div class="main">
    <div class="transactions table-responsive col-xs-12">
        <h3>트랜젝션 기록</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center col-md-3">날짜</th>
              <th class="text-center col-md-1">종류</th>
              <th class="text-center col-md-3">트랜젝션 ID</th>
              <th class="text-center col-md-2">수량</th>
              <th class="text-center col-md-1">수수료</th>
              <th class="text-center col-md-2">컨펌</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in all_tx[::-1] %}
            <tr>
              <td align="left">{{ date.strftime('%B %d %Y %I:%M%p %Z', date.localtime(tx.time)) }}</td>
              <td align="center">
                {% if tx.category == "receive" %}
                    <span class="glyphicon glyphicon-download green"></span>
                  {% elif tx.category == "send" %}
                    <span class="glyphicon glyphicon-upload red"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-refresh blue"></span>
                  {% endif %}
              </td>
              <td id="table_padding" align="center" class="text"><span><a href="https://explorer.qtum.org/tx/{{tx.txid}}" target="_blank">{{ tx.txid}}</a></span></td>
              <td id="table_padding" align="center">{{ tx.amount }}</td>
              {% if tx.fee == nil %}
                <td id="table_padding" align="center">0.0000</td>
              {% else %}
                <td id="table_padding" align="center">{{ tx.fee }}</td>
              {% endif %}
              <td id="table_padding" align="center">{{ tx.confirmations }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
